@import "./../variables.scss";
@import "./../buttons.scss";
@import "./../mixins.scss";

.margin-top-lg {
    margin-top: 90px;
    padding-top: 30px;
    .title {
        .h2 {
            text-transform: uppercase;
            font-size: 40px;
            font-weight: 600;
            position: relative;
            padding-bottom: 40px;
            margin-bottom: 40px;
            color: #383339;
            &:after {
                content: "";
                display: inline-block;
                width: 70px;
                height: 10px;
                background: $primaryColor;
                position: absolute;
                left: 0;
                bottom: 0;
                left: 50%;
                margin-left: -35px;
            }
            .block-name {
                font-size: 12px;
                font-style: normal;
                display: block;
                color: $primaryColor;
                margin-bottom: 20px;
            }
        }
    }
}

.routes {
    padding: 30px 10px;
    /* .road-sign {
        background: url('./../../assets/img/road-sign.png') no-repeat center;
        height: 500px;
        display: flex;
        justify-content: space-around;
        .road-inner-routes {
            width: 400px;
            height: 450px;
            .link {
                position: relative;
                a {
                    text-decoration: none;
                    color: $white;
                    font-size: 27px;
                }
            }
            .home {
                top: 47px;
                left: 51px;
            }
            .about {
                top: 145px;
                left: -29px;
            }
            .services {
                top: 245px;
                left: -120px;
            }
        }
    } */
}