<<<<<<< HEAD
@import "./../variables.scss";
@import "./../buttons.scss";
@import "./../mixins.scss";

.fixed-top {
  height: 105px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 150;
  @include transition(height .5s);
  .navbar-brand {
    position: relative;
    width: 200px;
    top: -6px;
    @include transition(width .5s);
    .img-fluid {
      width: 200px;
      @include transition(width .5s);
    }
  }
  .wrapper-menu {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    &:hover .line-menu {
      background-color: $secondaryColor;
    }
  }
  
  .wrapper-menu.open {
    transform: rotate(-45deg);
    z-index: 10; 
  }
  
  .line-menu {
    background-color: $white;
    border-radius: 5px;
    width: 100%;
    height: 6px;
    @include transition(background-color .5s);
  }
  
  .line-menu.half {
    width: 50%;
  }
  
  .line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
  }
  
  .open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
  }
  
  .line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
  }
  
  .open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
  }
  .collapse {
    background-color: $primaryColor;
    display: block;
    text-align: center;
    margin: 0 -16px;
    position: relative;
    top: -108px;
    .navbar-nav {
      font-weight: 300;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .nav-item {
        color: #ffffff;
        margin: 7px 0px;
        min-width: 400px;
        @include transition(background-color 0.6s);
        @include sm {
          min-width: 100%;
        }
        &:hover {
          @include transition(color 0.6s, background-color 0.6s);
          background-color: $secondaryColor;
          .nav-link {
            color: #ffffff;
          }
        }
        .nav-link {
          color: $greyDark;
          font-size: 17px;
          font-weight: 600;
          padding: 25px 60px;
          font-family: 'Poppins', sans-serif;
          font-weight: 400;
        }
      }
      .active {
        background-color: $secondaryColor;
        .nav-link {
          color: #ffffff;
        }
      }
    }
  } 
}
.nav-resized {
  height: 85px;
  .navbar-brand {
    width: 160px;
    .img-fluid {
      width: 160px;
    }
  }
=======
@import '../../base/variables';
@import '../../base/buttons';
@import '../../base/mixins';

.navbar-inverse {
	background-color: $primaryColor;
	.navbar-header {
	  float: none;
		.navbar-brand {
			line-height: 3.23;
		}
		.navbar-btn {
			line-height: 4.26;
		}
	}
}

.modal-fullscreen-menu {
	background-color: $primaryColor;
  	.close {
    	color: white;
		background-color: $secondaryColor;
    	opacity: 1;
    	padding: 10px;
    	position: absolute;
    	top: 0;
    	right: 0;
    	z-index: 1;
    	font-size: 4vh;
  	}

  	.modal-dialog {
			margin: 0 auto;
			width: 100%;
			max-width: 768px;
			display: flex;
			height: 100%;
			align-items: center;
  	}

  	.modal-content {
			background-color: transparent;
			box-shadow: none;
			border: none;
  	}

  	.list-group {
			text-align: center;
			margin: 0 auto;
			width: 100%;

			a {
      	font-size: 15000%;
      	font-weight: 200;
      	letter-spacing: 0.05em;
      	border: none;
      	transition: all 0.25s ease;
      	background-color: transparent;
      	color: white;
      	padding: 4.5vh 0;
      	height: 5vh;
      	font-size: 3.5vh;
      	line-height: 0;

      	&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: white;
					z-index: -1;
					opacity: 0;
					transform: scale3d(0.7, 1, 1);
					transition: transform 0.4s, opacity 0.4s;
      	}

      	&:hover {
        	color: black;

        &:before {
          transform: translate3d(0, 0, 0);
          opacity: 1;
        }
      }
    }
  }
}

.glyphicon-menu-hamburger {
	top: 12px;
	color: #fff;
	@include transition(color 0.7s .2s);
	&:before {
    	font-size: 35px;
	}
	&:hover {
		color: $secondaryColor;
	}
}

.modal-backdrop {
  &.in {
    opacity: 1;
  }
}

.btn-link:focus {
	text-decoration: none;
}
.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
>>>>>>> 5f99a174d711205fb885ee98bdcaad383dcb1fad
}