<<<<<<< HEAD
<nav class="navbar fixed-top navbar-light bg-dark" resizeHeader>
  <a class="navbar-brand" routerLink="/home"><img class="img-fluid" src="../assets/img/logo-rebrand.png"></a>
  <div class="wrapper-menu navbar-toggler-right" (click)="toggleIsNavOpen()" [ngClass]="isHamburgerOpen ? 'open' : 'closed'">
    <div class="line-menu half start"></div>
    <div class="line-menu"></div>
    <div class="line-menu half end"></div>
  </div>
    
  <div [@isNavOpen]="isNavOpen" class="collapse navbar-collapse" id="navbarSupportedContent" appResizeNavbar>
    <ul class="navbar-nav ml-auto" (click)="toggleIsNavOpen()">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/home">HOME</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/about-us">ABOUT US</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/skills-services">SKILLS &amp; SERVICES</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/projects">PROJECTS</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/testimonials">TESTIMONIALS</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/contact-us">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
=======
<mat-sidenav-container>
  <mat-sidenav #sidenav class="example-sidenav">
    <div class="modal fade modal-fullscreen-menu" id="modalNavigation" role="dialog" tabindex="-1">
      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span class="sr-only">Close navigation</span>
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <div class="modal-dialog">
        <nav class="list-group">
          <a class="list-group-item" data-dismiss="modal" routerLink="/">Home</a>
          <a class="list-group-item" data-dismiss="modal" routerLink="about-us">About Us</a>
          <a class="list-group-item" data-dismiss="modal" routerLink="services">Services</a>
          <a class="list-group-item" data-dismiss="modal" routerLink="skills">Skills</a>
          <a class="list-group-item" data-dismiss="modal" routerLink="projects">Projects</a>
          <a class="list-group-item" data-dismiss="modal" routerLink="testimonials">Testimonials</a>
          <a class="list-group-item" data-dismiss="modal" routerLink="contact-us">Contact Us</a>
        </nav>
      </div>
    </div>
  </mat-sidenav>
  <nav class="navbar navbar-inverse navbar-fixed-top navbar-app-collapse" nav-collapse="">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">WEDE TECH</a>
        <button class="btn navbar-btn btn-link pull-right" mat-button (click)="sidenav.open()" type="button">
          <span class="sr-only">Open navigation</span>
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
      </div>
    </div>
  </nav>
</mat-sidenav-container>
>>>>>>> 5f99a174d711205fb885ee98bdcaad383dcb1fad
