<<<<<<< HEAD
@import '../variables';
@import '../buttons';
@import '../mixins';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');

.footer {
    background-color: $primaryColor;
    color: #fff;
    padding: 25px 0;
    .upper-footer {
        margin-left: 0;
        margin-right: 0;
        img {
            max-width: 255px;
        }
        .social-icons {
            margin: 10px;
            i {
                @include transition(color 0.6s);
                font-size: 55px;
                color: #fff;
            }
            .fa-facebook-square {
                &:hover {
                    @include transition(color 0.5s);
                    color: #4267b2;
                }
            }
            .fa-linkedin-square {
                &:hover {
                    @include transition(color 0.5s);
                    color: #287bbc;
                }
            }
        }
    }
    .lower-footer {
        margin-left: 0;
        margin-right: 0;
        .list-inline {
            .list-inline-item {
                padding: 10px;
                a {
                    color: #fff;
                    &:hover {
                        text-decoration: none;
                    }
                    &:focus {
                        text-decoration: none;
                    }
                }
            }
            .active {
                background-color: $secondaryColor;
                text-decoration: none;
            }
        }
    }
    .margin-bottom-md {
        margin-bottom: $marginBottomMd;
    }
    .scroll-to-top {
        position: fixed;
        bottom: 15px;
        right: 15px;
        opacity: 0;
        height: 64px;
        width: 64px;
        @include transition(opacity .7s);
        .to-top {
            background-image: url('./../../assets/img/to-top.png');
            background-position: center;
            background-size: 80%;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, .5);
            @include transition(background-color .5s);
            cursor: pointer;
            border: none;
            border-radius: 50%;
            &:focus {
                outline: 0;
            }
            &:hover {
                background-color: rgba(0, 0, 0, .8);
            }
        }
        &.show-scroll {
            opacity: 1;
            z-index: 2;
        }
    }
}
=======
/*FOOTER STYLE*/
@import '../../base/variables';
@import '../../base/buttons';
@import '../../base/mixins';

.footer {
	background-color: $primaryColor;
	padding: 25px 0px;
	color: #fff;
	img {
		width: 130px;
	}
	.list-inline {
		li {
			padding: 0;
			a {
				color: #fff;
				display: inline-block;
				padding: 9px;
				@include transition(background-color 1s, color 1s);
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					background: white;
					z-index: -1;
					opacity: 0;
				}
				&:hover {
					background-color: #fff;
					color: #000;
				}
				&:link {
					text-decoration: none;
				}
			}
		}
	}
	.active {
		background-color: $secondaryColor;
	}
	.upper-footer, .lower-footer {
		margin-left: 0px;
		margin-right: 0px;
	}
	.fa {
		font-size: 50px;
		margin: 10px;
		color: #fff;
		&:hover {
			color: #3b5998;
		}
	}
}
>>>>>>> 5f99a174d711205fb885ee98bdcaad383dcb1fad
