<footer class="footer container-fluid text-center">
	<div class="row upper-footer">
		<div class="col-md-12">
<<<<<<< HEAD
			<a><img class="margin-bottom-md img-responsive" src="../assets/img/logo_new_white.png"></a>
		</div><!-- 
		<div class="col-md-12">
			<span class="slogan margin-bottom-md">WE DEVELOP TECHNOLOGY</span>
		</div> -->
		<div class="col-md-12 margin-bottom-md">
			<span class="social-icons facebook"><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></span>
			<span class="social-icons linkedin"><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
		</div>
	</div>
	<div class="row lower-footer">
    <div class="col-12">
      <ul class="list-inline margin-bottom-md">
        <li class="list-inline-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/home">HOME</a></li>
        <li class="list-inline-item" routerLinkActive="active"><a routerLink="/about-us">ABOUT US</a></li>
        <li class="list-inline-item" routerLinkActive="active"><a routerLink="/skills-services">SKILLS & SERVICES</a></li>
        <li class="list-inline-item" routerLinkActive="active"><a routerLink="/projects">PROJECTS</a></li>
        <li class="list-inline-item" routerLinkActive="active"><a routerLink="/testimonials">TESTIMONIALS</a></li>
        <li class="list-inline-item" routerLinkActive="active"><a routerLink="/contact-us">CONTACT US</a></li>
      </ul>
    </div>
	</div>
	<div class="col-12">© 2016 - {{ year }} WEDE TECH</div>
	<div class="scroll-to-top" [ngClass]="{'show-scroll': navIsFixed}">
		<button (click)="scrollToTop()" class="to-top"></button>
	</div>
=======
			<a ui-sref="home"><img class="margin-bottom-md" src="../assets/images/logo-new-final.png"></a>
		</div>
		<div class="col-md-12">
			<span class="slogan margin-bottom-md">WE DEVELOP TECHNOLOGY</span>
		</div>
		<div class="col-md-12 margin-bottom-md">
			<span><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></span>
			<span><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
		</div>
	</div>
	<div class="row lower-footer">
		<ul class="list-inline margin-bottom-md">
			<li routerLinkActive="active" 
			[routerLinkActiveOptions]="{exact: true}"><a routerLink="/">HOME</a></li>
			<li routerLinkActive="active"><a routerLink="/about-us">ABOUT US</a></li>
			<li routerLinkActive="active"><a routerLink="/services">SERVICES</a></li>
			<li routerLinkActive="active"><a routerLink="/skills">SKILLS</a></li>
			<li routerLinkActive="active"><a routerLink="/projects">PROJECTS</a></li>
			<li routerLinkActive="active"><a routerLink="/testimonials">TESTIMONIALS</a></li>
			<li routerLinkActive="active"><a [routerLink]="['/contact-us']">CONTACT US</a></li>
		</ul>
	</div>
	<div class="col-md-6 col-md-offset-3">&copy; 2016 - 2018 WEDE TECH</div>
>>>>>>> 5f99a174d711205fb885ee98bdcaad383dcb1fad
</footer>