<div class="row row-heading">
  <div class="col-12 title text-center">
    <h2 class="h2"><em class="block-name">Projects</em> OUR WORK</h2>
  </div>
</div>
<div class="row main-container">    
  <app-project-list (projectWasSelected)="sendProject($event)"></app-project-list>
</div>
<!-- support row -->
<div class="row row-support">
    <div class="col-12 col-support text-center">
      <div class="support-wrapper" [ngsRevealSet]="{ reset: true }" [ngsInterval]="300" [ngsSelector]="'.support'">
        <h4 class="support-heading support">Already a client, or need help with an order? Contact Wede Tech Support.</h4>
        <span class="phone-email support">389 70 259 841 <i>OR </i><a routerLink="./../contact-us">CONTACT US</a></span>
      </div>
    </div>
  </div> <!-- end support row -->