@import "./../variables.scss";
@import "./../buttons.scss";
@import "./../mixins.scss";

.row-heading {
    background-image: url('./../../assets/img/heading-bg.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
    @include transition(height .5s);
    .title {
        .h2 {
            text-transform: uppercase;
            font-size: 40px;
            position: relative;
            padding-bottom: 40px;
            top: 50%;
            transform: translateY(-50%);
            color: #383339;
            &:after {
                content: "";
                display: inline-block;
                width: 70px;
                height: 10px;
                background: $primaryColor;
                position: absolute;
                left: 0;
                bottom: 0;
                left: 50%;
                margin-left: -35px;
            }
            .block-name {
                font-size: 12px;
                font-style: normal;
                display: block;
                color: $primaryColor;
                margin-bottom: 20px;
            }
        }
    }
}
.main-container {
    padding-top: 50px;
    padding-bottom: 50px;
    .button-controls {
        .btn {
            cursor: pointer;
            border-radius: 0;
            border-color: $secondaryColor;
            @include transition(background-color 0.6);
            background-color: $white;
            color: $secondaryColor;
            &:hover {
                @include transition(background-color 0.6, color 0.6);
                background-color: $secondaryColor;
                color: $white;
            }
        }
    }
    .divider {
        height: 2px;
        background-color: $primaryColor;
        margin: 25px 0;
    }
}
  