@import "./../variables.scss";
@import "./../buttons.scss";
@import "./../mixins.scss";

.skills {
    padding-top: 50px;
    padding-bottom: 50px;
    .progress-wrapper {
        position: relative;
        margin: 20px auto;
        font-size: 40px;
        .current {
            position: absolute;
            color: $primaryColor;;
            font-weight: 100;
            line-height: 1;
        }
        round-progress {
            margin: auto;
        }
    }
    .text-wrapper {
        .text-uppercase {
            padding: 5px 2px;
            font-size: 16px;
        }
        p {
            font-size: 13px;
        }
    }
}

.row-process {
    padding: 80px 0;
    background: rgba(3,154,229,1);
    background: -moz-linear-gradient(left, rgba(3,154,229,1) 0%, rgba(46,182,245,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(3,154,229,1)), color-stop(100%, rgba(46,182,245,1)));
    background: -webkit-linear-gradient(left, rgba(3,154,229,1) 0%, rgba(46,182,245,1) 100%);
    background: -o-linear-gradient(left, rgba(3,154,229,1) 0%, rgba(46,182,245,1) 100%);
    background: -ms-linear-gradient(left, rgba(3,154,229,1) 0%, rgba(46,182,245,1) 100%);
    background: linear-gradient(to right, rgba(3,154,229,1) 0%, rgba(46,182,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#039ae5', endColorstr='#2eb6f5', GradientType=1 );
    .col-process {
        .bg-image {
            height: 550px;
            background-image: url('./../../assets/img/process.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

.services {
    padding-top: 100px;
    padding-bottom: 85px;
    background-position: center;
    background-repeat: repeat;
    position: relative;
    i {
        @include transition(border-color 0.6s);
        font-size: 45px;
        padding: 75px;
        border: 4px solid $secondaryColor;
        border-radius: 50%;
        &:hover {
            @include transition(border-color 0.6s);
            border-color: $primaryColor;
        }
    }
    .text-uppercase {
        font-size: 16px;
        padding: 15px 2px;
    }
}

.full-screen {
    height: 100vh;
    width: 100vw;
}

@media only screen and (max-width: 768px) {
    .row-heading {
        height: 400px;
    }
}