<<<<<<< HEAD
@import "./../variables.scss";
@import "./../buttons.scss";
@import "./../mixins.scss";

.margin-top-lg {
    //margin-top: 90px;
    padding-top: 30px;
}
.row-about {
    padding-bottom: 50px;
    .about-text {
        padding: 10px 30px;
        background-color: $secondaryColor;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
    }
    .btn-wede {
        display: block;
        float: right;
    }
    .about-services-wrapper {
        background-color: $thirdColor;
        .about-services {
            padding: 40px 72px;
            background-color: #383339;
            &:hover {
                @include transition(background-color 0.6s, color 0.6s);
                background-color: #515151;
                color: #ffffff;
                .icon-wrapper {
                    .fa {
                        @include transition(border-color 0.7s, color 0.6s);
                        border-color: #ffffff;
                        color: $primaryColor;
                    }
                }
            }
            .icon-wrapper {
                display: table-cell;
                .fa {
                    @include transition(border-color 0.7s, color 0.6s);
                    padding: 30px;
                    margin-right: 30px;
                    border: 4px solid $primaryColor;
                    border-radius: 50%;
                    font-size: 65px;
                    color: #ffffff;
                }
            }
            .text-wrapper {
                display: table-cell;
                vertical-align: middle;
                color: #ffffff;
                h3 {
                    font-size: 16px;
                }
                p {
                    font-size: 14px;
                }
            }
            &:hover i {
                animation: pulse 2s infinite;
            }
        }
    }
}
.row-team {
    margin-top: 110px;
    .member-item {
        padding-bottom: 20px;
    }
}

@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 $secondaryTransparent;
    }
    70% {
        -webkit-box-shadow: 0 0 0 50px $secondaryRgb;
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 $secondaryRgb;
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 $secondaryTransparent;
      box-shadow: 0 0 0 0 rgba(3, 155, 229, .4);
    }
    70% {
        -moz-box-shadow: 0 0 0 50px $secondaryRgb;
        box-shadow: 0 0 0 50px $secondaryRgb;
    }
    100% {
        -moz-box-shadow: 0 0 0 0 $secondaryRgb;
        box-shadow: 0 0 0 0 $secondaryRgb;
    }
  }

  @media only screen and (max-width: 991px) {
      .about-text {
          padding: 75px 30px !important;
      }
  }

  @media only screen and (max-width: 768px) {
    .row-heading {
        height: 400px;
    }
  }
=======
@import '../../base/buttons';
@import '../../base/mixins';
@import '../../base/variables';

.full-width {
    padding-top: 15px;
    padding-bottom: 25px;
}

.title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 40px;
    color: #383339;
    em {
        font-size: 12px;
        font-style: normal;
        display: block;
        color: #d53585;
        margin-bottom: 20px;
    }
    &:after {
        content: "";
        display: inline-block;
        width: 70px;
        height: 10px;
        background: #d53585;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -35px;
    }
}

.why-we {
    .why-we-item {
        background-color: #3f3a40;
        padding-top: 20px;
        &:hover .fa {
            border-color: #d53585;
        }
        .fa {
            border: 10px solid #f8f8f8;
            border-radius: 50%;
            width: 130px;
            height: 130px;
            line-height: 115px;
            font-size: 40px;
            color: #d53585;
            margin-bottom: 32px;
            @include transition(border-color 1s);
            &:hover {
                border-color: #d53585;
            }
        }
    }
    .col-xs-8 {
        color: #fff;
    }
}
>>>>>>> 5f99a174d711205fb885ee98bdcaad383dcb1fad
