<div class="row project-wrapper justify-content-center">
    <span class="close-modal" (click)="onCloseDialog()"></span>
    <div class="col-12 text-center">
        <h2>{{ project.name }}</h2>
        <div class="divider"></div>
    </div>
    <div class="col-lg-12 col-xl-8 carousel-wrapper">
        <ngx-carousel [inputs]="imgSlider" class="carousel">
            <ngx-tile NgxCarouselItem *ngFor="let img of objectKeys(projectImg); let i = index" class="tile-wrapper">
                <div class="wBg">
                    <div class="tile">
                        <img class="img-fluid" src="{{ projectImg[img] }}">
                    </div>
                </div>
            </ngx-tile>
            <button NgxCarouselPrev class="slider-button leftRs"></button>
            <button NgxCarouselNext class="slider-button rightRs"></button>
        </ngx-carousel>
    </div>
    <div class="col-sm-8 col-md-6 tech-used">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Technologies Used</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">CMS</th>
                    <td>{{ project.cms }}</td>
                </tr>
                <tr>
                    <th scope="row">Front-end</th>
                    <td>{{ project.techUsed.frontEnd }}</td>
                </tr>
                <tr>
                    <th scope="row">Back-end</th>
                    <td>{{ project.techUsed.backEnd }}</td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-visit-site" href="{{project.url}}" target="_blank">Go to live website</a>
    </div>
</div>