@import "./../../variables.scss";
@import "./../../buttons.scss";
@import "./../../mixins.scss";

.project-wrapper {
    .close-modal {
        width: 70px;
        height: 70px;
        position: absolute;
        right: 20px;
        top: 20px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, .6);
        background-image: url('./../../../assets/img/close.png');
        background-position: center;
        background-size: 70%;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 100;
    }
    .text-center {
        .divider {
            margin: 10px 0;
            height: 2px;
            background-color: $greyLight;
        }
    }
    ngx-tile /deep/ {
        .tile {
            box-shadow: none;
        }
    }
    .tech-used {
        margin-top: 35px;
        .table-dark {
            background-color: #212529;
            color: $white;
        }
        .btn-visit-site {
            padding: 25px 50px;
            background-color: $secondaryColor;
            color: $white;
            display: block;
            cursor: pointer;
            @include transition(background-color .5s);
            &:hover {
                background-color: $primaryColor;
            }
        }
    }
}

.img-fluid {
    max-height: 80%;
}
.tile {
    h1 {
        max-height: 250px;
    }
}
.slider-button {
    position: absolute;
}
.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    width: 85px;
    height: 85px;
    border: 0;
    border-radius: 999px;
    background-image: url('./../../../assets/img/prev.png');
    background-repeat:no-repeat;
    background-size: 65%;
    background-position:center;
    background-color: rgba(0, 0, 0, .8);
    @include transition(background-color .5s, width .5s, height .5s);
    cursor: pointer;
    &:focus {
        outline: 0;
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    width: 85px;
    height: 85px;
    border-radius: 999px;
    border: 0;
    background-image: url('./../../../assets/img/next.png');
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
    background-color: rgba(0, 0, 0, .8);
    @include transition(background-color .5s, width .5s, height .5s);
    cursor: pointer;
    &:focus {
        outline: 0;
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }
}

@media  (max-width: 1199px) {
    .rightRs, .leftRs {
        width: 65px;
        height: 65px;
        background-size: 75%;
    }
}

@media  (max-width: 767px) {
    .rightRs, .leftRs {
        width: 45px;
        height: 45px;
        background-size: 75%;
    }
}