@import '../variables';
@import '../buttons';
@import '../mixins';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');

.footer {
    background-color: $primaryColor;
    color: #fff;
    padding: 25px 0;
    .upper-footer {
        margin-left: 0;
        margin-right: 0;
        img {
            max-width: 255px;
        }
        .social-icons {
            margin: 10px;
            i {
                @include transition(color 0.6s);
                font-size: 55px;
                color: #fff;
            }
            .fa-facebook-square {
                &:hover {
                    @include transition(color 0.5s);
                    color: #4267b2;
                }
            }
            .fa-linkedin-square {
                &:hover {
                    @include transition(color 0.5s);
                    color: #287bbc;
                }
            }
        }
    }
    .lower-footer {
        margin-left: 0;
        margin-right: 0;
        .list-inline {
            .list-inline-item {
                padding: 10px;
                a {
                    color: #fff;
                    &:hover {
                        text-decoration: none;
                    }
                    &:focus {
                        text-decoration: none;
                    }
                }
            }
            .active {
                background-color: $secondaryColor;
                text-decoration: none;
            }
        }
    }
    .margin-bottom-md {
        margin-bottom: $marginBottomMd;
    }
    .scroll-to-top {
        position: fixed;
        bottom: 15px;
        right: 15px;
        opacity: 0;
        height: 64px;
        width: 64px;
        @include transition(opacity .7s);
        .to-top {
            background-image: url('./../../assets/img/to-top.png');
            background-position: center;
            background-size: 80%;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, .5);
            @include transition(background-color .5s);
            cursor: pointer;
            border: none;
            border-radius: 50%;
            &:focus {
                outline: 0;
            }
            &:hover {
                background-color: rgba(0, 0, 0, .8);
            }
        }
        &.show-scroll {
            opacity: 1;
            z-index: 2;
        }
    }
}