@import "./../variables.scss";
@import "./../buttons.scss";
@import "./../mixins.scss";

.row-heading {
    background-image: url('./../../assets/img/contact/connect-world-map.jpg');
    @include transition(height .5s);
    .title {
        .h2 {
            color: $white;
        }
    }
}
.contact-icons {
    padding: 0;
    .wrapper {
        min-height: 335px;
        -webkit-box-shadow: 0 0 30px rgba(255,202,40, .12);
        box-shadow: 0 0 30px rgba(255,202,40, .12);
        .helper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .map-icon {
            .fa {
                font-size: 45px;
                color: $primaryColor;
                }
            }
            .contact-details {
                color: #fff;
                p {
                    padding: 20px 0 0 0;
                    font-size: 11px;
                }
                strong {
                    display: block;
                }
            }
        }
    }
    .dark {
        background-color: #383339;
    }
    .light {
        background-color: #3e393f;
    }
}
.contact-wrapper {
    .contact-form {
        .padding-top-md {
            padding-top: 20px;
            .title {
                .h2 {
                    text-transform: uppercase;
                    font-size: 40px;
                    font-weight: 600;
                    position: relative;
                    padding-bottom: 40px;
                    margin-bottom: 40px;
                    color: #383339;
                    &:after {
                        content: "";
                        display: inline-block;
                        width: 70px;
                        height: 10px;
                        background: $primaryColor;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        left: 50%;
                        margin-left: -35px;
                    }
                    .block-name {
                        font-size: 12px;
                        font-style: normal;
                        display: block;
                        color: $primaryColor;
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .form {
            text-align: center;
            .col {
                button {
                    background: transparent;
                    border-color: transparent;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
            .btn-wede {
                background-color: $primaryColor !important;
                color: $white !important;
                border-radius: 33px !important;
                padding: 15px 72px !important;
                margin-bottom: 10px;
                @include transition(background-color .5s);
                &:hover {
                    background-color: $secondaryColor !important;
                }
            }
            re-captcha /deep/ {
                div {
                    margin-bottom: 15px;
                    width: 100% !important;
                }
            }
        }
    }
}
.g-map {
    padding-left: 0;
    padding-right: 0;
    agm-map {
        height: 692px;
    }
}
  
::ng-deep {
    .snackbar {
        background: $greyLight;
        height: 150px;
        .mat-simple-snackbar {
            color: $primaryColor;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            .mat-simple-snackbar-action {
                background-color: $primaryColor;
                color: $secondaryColor;
                padding: 5px 30px;
            }
        }
    }
}