@import "./../variables.scss";
@import "./../buttons.scss";
@import "./../mixins.scss";

.margin-top-lg {
    //margin-top: 90px;
    padding-top: 30px;
}
.row-about {
    padding-bottom: 50px;
    .about-text {
        padding: 10px 30px;
        background-color: $secondaryColor;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
    }
    .btn-wede {
        display: block;
        float: right;
    }
    .about-services-wrapper {
        background-color: $thirdColor;
        .about-services {
            padding: 40px 72px;
            background-color: #383339;
            &:hover {
                @include transition(background-color 0.6s, color 0.6s);
                background-color: #515151;
                color: #ffffff;
                .icon-wrapper {
                    .fa {
                        @include transition(border-color 0.7s, color 0.6s);
                        border-color: #ffffff;
                        color: $primaryColor;
                    }
                }
            }
            .icon-wrapper {
                display: table-cell;
                .fa {
                    @include transition(border-color 0.7s, color 0.6s);
                    padding: 30px;
                    margin-right: 30px;
                    border: 4px solid $primaryColor;
                    border-radius: 50%;
                    font-size: 65px;
                    color: #ffffff;
                }
            }
            .text-wrapper {
                display: table-cell;
                vertical-align: middle;
                color: #ffffff;
                h3 {
                    font-size: 16px;
                }
                p {
                    font-size: 14px;
                }
            }
            &:hover i {
                animation: pulse 2s infinite;
            }
        }
    }
}
.row-team {
    margin-top: 110px;
    .member-item {
        padding-bottom: 20px;
    }
}

@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 $secondaryTransparent;
    }
    70% {
        -webkit-box-shadow: 0 0 0 50px $secondaryRgb;
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 $secondaryRgb;
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 $secondaryTransparent;
      box-shadow: 0 0 0 0 rgba(3, 155, 229, .4);
    }
    70% {
        -moz-box-shadow: 0 0 0 50px $secondaryRgb;
        box-shadow: 0 0 0 50px $secondaryRgb;
    }
    100% {
        -moz-box-shadow: 0 0 0 0 $secondaryRgb;
        box-shadow: 0 0 0 0 $secondaryRgb;
    }
  }

  @media only screen and (max-width: 991px) {
      .about-text {
          padding: 75px 30px !important;
      }
  }

  @media only screen and (max-width: 768px) {
    .row-heading {
        height: 400px;
    }
  }