<div class="row margin-top-lg row-heading" [ngsReveal]="{ reset: true }">
  <div class="col-12 title text-center">
    <h2 class="h2"><em class="block-name">Why We</em> ABOUT US</h2>
  </div>
</div>
<div class="row row-about">
  <div class="col-lg-5 about-text">
    <div class="about-text-wrapper" [ngsReveal]="{ reset: true }">
      <p>Founded in 2016, WEDE Tech is a small web design & development agency based in Skopje, Macedonia. Over the last year 
        we've made a reputation for building websites that look great and are easy-to-use.</p>
      <p>WEDE Tech focuses on quality, innovation, & speed. We have proven results with both small businesses and large corporations alike.</p>
      <p>So now that you know a little bit about us, we would like to get to know you a little bit better. If you are looking for website development 
        please visit our CONTACT page to submit your contact details. 
        Once again, thank you for stopping by to visit! We hope you enjoyed your stay and are excited to hear about your upcoming project details.</p>
        <a class="btn btn-wede text-uppercase" routerLink="/contact-us">Get in touch</a>
      </div>
  </div> <!-- about-text-wrapper -->
  <div class="col-lg-7 about-services-wrapper">
    <div class="row">
      <div class="col-12 about-services" [ngsRevealSet]="{ reset: true }" [ngsInterval]="270" [ngsSelector]="'.reveal'">
        <div class="icon-wrapper reveal">
          <i class="fa fa-paint-brush" aria-hidden="true"></i>
        </div>
        <div class="text-wrapper reveal">
          <h3 class="text-uppercase">Web design</h3>
          <p>There are three responses to a piece of design – yes, no, and WOW! Wow is the one to aim for.</p>
        </div>
      </div>
      <div class="col-12 about-services">
        <div class="icon-wrapper reveal">
            <i class="fa fa-magic" aria-hidden="true"></i>
        </div>
        <div class="text-wrapper reveal">
            <h3 class="text-uppercase">UI/UX AND GRAPHIC DESIGN</h3>
            <p>If we want users to like our software we should design it to behave like a likeable person: respectful, generous and helpful.</p>
        </div>
      </div>
      <div class="col-12 about-services">
        <div class="icon-wrapper reveal">
            <i class="fa fa-calculator" aria-hidden="true"></i>
        </div>
        <div class="text-wrapper reveal">
            <h3 class="text-uppercase">Programming</h3>
            <p>First, solve the problem. Then, write the code.</p>
        </div>
      </div>
    </div>
  </div> <!-- about-services-wrapper -->
</div> <!-- padding-top-md -->
<!-- second heading -->
<div class="row row-heading animated fadeIn" [ngsReveal]="{ reset: true }">
  <div class="col-12 title text-center">
    <h2 class="h2"><em class="block-name">Our Team</em> WORK WITH PROFESSIONALS</h2>
  </div>
</div> <!-- end second heading -->
<!-- team container -->
<div class="container">
  <div class="row row-team justify-content-center animated fadeIn">
    <app-team-member class="col-md-3 col-sm-5 col-10 member-item" 
    *ngFor="let teamMember of team" 
    [member]="teamMember"></app-team-member>
  </div>
</div><!-- end team container -->
<!-- support row -->
<div class="row row-support">
  <div class="col-12 col-support text-center">
    <div class="support-wrapper" [ngsRevealSet]="{ reset: true }" [ngsInterval]="300" [ngsSelector]="'.support'">
      <h4 class="support-heading support">Already a client, or need help with an order? Contact Wede Tech Support.</h4>
      <span class="phone-email support">389 70 259 841 <i>OR </i><a routerLink="./../contact-us">CONTACT US</a></span>
    </div>
  </div>
</div> <!-- end support row -->