<div class="row row-heading">
  <div class="col-12 title text-center">
    <h2 class="h2"><em class="block-name">Contact Us</em> Get In Touch</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-3 text-center contact-icons" 
  *ngFor="let contactDetail of contactDetails; let i = index">
    <div class="wrapper" [ngClass]="{'dark': i % 2 === 0, 'light': i % 2 !== 0}" [ngsReveal]="{ reset: true }">
      <div class="helper">
        <div class="map-icon">
          <i class="fa {{ contactDetail.icon }}" aria-hidden="true"></i>
        </div>
        <div class="contact-details">
          <p class="text-uppercase">{{ contactDetail.description }}</p>
          <strong>{{ contactDetail.content1 }}</strong>
          <strong>{{ contactDetail.content2 }}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center contact-wrapper">
  <div class="col-sm-6 contact-form">
    <div class="row padding-top-md">
      <div class="col-12 title text-center">
        <h2 class="h2"><em class="block-name">Write Us Something</em> Something Nice</h2>
      </div>
    </div>
    <form [formGroup]="wtCForm" (ngSubmit)="onSubmit(wtCForm)" class="form" [ngsReveal]="{ reset: true }">

      <!-- Name input field -->
      <mat-form-field class="form-field col">
        <input matInput type="text" placeholder="Name" formControlName="name" [(ngModel)]="name" name="Name" />
        <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="wtCForm.controls.name.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- Email input field -->
      <mat-form-field class="form-field col">
        <input matInput placeholder="Email" formControlName="email"
          [errorStateMatcher]="matcher" [(ngModel)]="email">
        <button mat-button *ngIf="email" matSuffix mat-icon-button aria-label="clear" (click)="email=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="wtCForm.controls.email.hasError('pattern') && !wtCForm.controls.email.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="wtCForm.controls.email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      
      <!-- Phone input field -->
      <mat-form-field class="form-field col">
        <input matInput type="text" placeholder="Phone" formControlName="phone" [(ngModel)]="phone" name="Phone" />
        <button mat-button *ngIf="phone" matSuffix mat-icon-button aria-label="Clear" (click)="phone=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="wtCForm.controls.phone.hasError('minlength') && !wtCForm.controls.phone.hasError('pattern')">
          In our opinion, there is no phone number with less than <strong>10 digits</strong>
        </mat-error>
        <mat-error *ngIf="wtCForm.controls.phone.hasError('pattern')">
          It's is better to write your phone decripted with <strong>numbers</strong>
        </mat-error>
      </mat-form-field>

      <!-- Subject input field -->
      <mat-form-field class="form-field col">
        <input matInput type="text" placeholder="Subject" [(ngModel)]="subject" [ngModelOptions]="{standalone: true}" subject="Subject" />
        <button mat-button *ngIf="subject" matSuffix mat-icon-button aria-label="clear" (click)="subject=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <!-- Textarea field -->
      <mat-form-field class="form-field col">
        <textarea matInput placeholder="We are excited to hear from you" formControlName="message" 
        [errorStateMatcher]="matcher" matTextareaAutosize matAutosizeMinRows="2"
          matAutosizeMaxRows="5" [(ngModel)]="message" message="Message"></textarea>
        <button mat-button *ngIf="message" matSuffix mat-icon-button aria-label="clear" (click)="message=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="wtCForm.controls.message.hasError('minlength') && !wtCForm.controls.message.hasError('required')">
          Please write more. Be sure we will read everything. The minimum is 20 characters, but we expect more :-)
        </mat-error>
        <mat-error *ngIf="wtCForm.controls.message.hasError('required')">
          We need something here. <strong>At least a few words</strong>
        </mat-error>
      </mat-form-field>

      <!-- Recaptcha -->
      <re-captcha siteKey="6LfGawkUAAAAACMiV-cRrz9aPi2RjwckGEt4Nf6h" formControlName="recaptcha"></re-captcha>

      <!-- Submit button -->
      <button mat-raised-button class="btn btn-wede" type="submit" [disabled]="!wtCForm.valid">Send
        <span class="loader" *ngIf="loading"><img src="" alt=""></span>
      </button>
    </form>
  </div>
  <div class="col-sm-6 g-map" [ngsReveal]="{ reset: true }">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [fullscreenControl]="true" [styles]="styles">
      <agm-marker *ngFor="let marker of markers; let i = index"  
        [latitude]="marker.lat" 
        [longitude]="marker.lng"
        [label]="marker.label" 
        [draggable]="marker.draggable">
        <agm-info-window>
          <strong>{{ marker.label }}</strong>
        </agm-info-window>
    </agm-marker>
    </agm-map>
  </div>
</div>