@import "./variables.scss";
@import "./buttons.scss";
@import "./mixins.scss";

.loading {
    min-height: 100vh;
    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}