<app-header></app-header>
<div class="container-fluid">
    <router-outlet (activate)="onActivate($event)" *ngIf="isPageLoaded"></router-outlet>
    <div class="loading" *ngIf="!isPageLoaded">
        <img class="loader" src="./../assets/img/preloader.gif" alt="">
    </div>
</div>
<app-footer></app-footer>
    
