<!-- First heading -->
<div class="row row-heading">
  <div class="col-12 title text-center" [ngsReveal]="{ reset: true }">
    <h2 class="h2"><em class="block-name">Services</em> WHAT WE DO</h2>
  </div>
</div> <!-- End first heading -->
<div class="row justify-content-center skills">
  <div class="col-xl-2 col-md-3 col-sm-5 col-9" *ngFor="let param of params">
    <div class="progress-wrapper">
      <div class="current text-center" [ngStyle]="getOverlayStyle()">{{ param.current }}</div>
        <round-progress
          [current]="param.current"
          [max]="param.max"
          [stroke]="param.stroke"
          [radius]="param.radius"
          [semicircle]="param.semicircle"
          [rounded]="param.rounded"
          [responsive]="param.responsive"
          [clockwise]="param.clockwise"
          [color]="param.gradient ? 'url(#gradient)' : param.color"
          [background]="param.background"
          [duration]="param.duration"
          [animation]="param.animation"
          [animationDelay]="param.animationDelay"></round-progress>
    </div>
    <div class="text-wrapper text-center">
      <h3 class="text-uppercase">{{ param.title }}</h3>
      <p>{{ param.description }}</p>
    </div>
  </div>
</div>
<div class="row row-services">

</div>
<!-- Process section -->
<div class="row row-process">
  <div class="col-12 col-process">
    <div class="bg-image" [ngsReveal]="{ reset: true }"></div>
  </div>
</div>
<!-- Second heading -->
<div class="row row-heading-2">
  <div class="col-12 title text-center" [ngsReveal]="{ reset: true }">
    <h2 class="h2"><em class="block-name">Skills</em> OUR BEST SIDE</h2>
  </div>
</div> <!-- End second heading -->
<div class="row justify-content-center services">
  <div class="col-xl-2 col-md-4 col-sm-6 col-10 text-center" *ngFor="let service of ourServices">
    <i class="fa {{ service.icon }}" aria-hidden="true"></i>
    <h4 class="text-uppercase">{{ service.heading }}</h4>
    <p></p>
  </div>
</div>
<!-- call to action row -->
<div class="row row-cta">
    <div class="col-md-7 col-left-cta" [ngsReveal]="{ reset: true }">
        <div class="cta-wrapper">
            <h2 class="cta-heading text-uppercase">
                <span class="cta-main-heading">The code</span><br>
                is in our dna<span class="dot">.</span>
            </h2>
        </div>
    </div>
    <div class="col-md-5 col-right-cta" [ngsReveal]="{ reset: true }">
        <div class="cta-wrapper">
            <a routerLink="./../contact-us" class="btn btn-wede text-uppercase">Contact Us</a>
        </div>
    </div>
</div> <!-- end call to action row -->