@import "./../variables.scss";
@import "./../buttons.scss";
@import "./../mixins.scss";

.carousel-wrapper {
    padding-left: 0;
    padding-right: 0;
    .bannerStyle {
        background-color: $white;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
        height: 100vh;//calc(100vh - 145px);
        transition: height 0.25s ease-in;
        .btn {
            padding: 12px 40px;
            background-color: $primaryColor;
            border-color: $primaryColor;
            color: $secondaryColor;
            position: relative;
            top: 35vh;
            &:hover {
                background-color: $primaryColor;
            }
        }
        .overlay {
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, .5);
            .heading-wrapper {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                h1 {
                    padding: 20px 35px;
                    font-size: 110px;
                    font-weight: 800;
                    color: $white;
                    max-width: 810px;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
    .leftRs {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        width: 75px;
        height: 75px;
        border: 0;
        border-radius: 999px;
        background-image: url('./../../assets/img/prev.png');
        background-repeat:no-repeat;
        background-size: 65%;
        background-position:center;
        background-color: rgba(0, 0, 0, .8);
        @include transition(background-color 1s);
        @include transition(height .6s, width .6s);
        cursor: pointer;
        &:focus {
            outline: 0;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }
    }
    
    .rightRs {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        width: 75px;
        height: 75px;
        border-radius: 999px;
        border: 0;
        background-image: url('./../../assets/img/next.png');
        background-repeat: no-repeat;
        background-size: 65%;
        background-position: center;
        background-color: rgba(0, 0, 0, .8);
        @include transition(background-color 1s);
        @include transition(height .6s, width .6s);
        cursor: pointer;
        &:focus {
            outline: 0;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }
    }
    
}

.why-wede {
    padding-top: 130px;
    padding-bottom: 80px;
    background-color: $greyLightest;
    background-image: url('./../../assets/img/home/why-we-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    .col-icon {
        padding-bottom: 50px;
        .wrapper {
            padding-left: 50px;
            padding-right: 50px;
            .img-icon {
                display: block;
                margin: 0 auto;
                max-width: 150px;
            }
            .subtitle {
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }
    }
}

.row-technology {
    padding-bottom: 130px;
    padding-top: 130px;
    background-color: $greyLightest;
    background-image: url('./../../assets/img/home/technology-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .col-left-technology {
        .row-sub-heading {
            .col-heading {
                padding-left: 50px;
                padding-right: 50px;
                .h2 {
                    text-transform: uppercase;
                    font-size: 40px;
                    font-weight: 600;
                    position: relative;
                    padding-bottom: 40px;
                    margin-bottom: 40px;
                    color: #383339;
                    &:after {
                        content: "";
                        display: inline-block;
                        width: 70px;
                        height: 10px;
                        background: $primaryColor;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        left: 50%;
                        margin-left: -35px;
                    }
                    .block-name {
                        font-size: 12px;
                        font-style: normal;
                        display: block;
                        color: $primaryColor;
                        margin-bottom: 20px;
                    }
                }
                .text {
                    padding-top: 30px;
                    text-align: left;
                }
            }
        }
        .row-icons {
            padding: 60px 50px;
            .col-icons {
                .heading {
                    padding-bottom: 30px;
                    .icon {
                        display: inline-block;
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        background: $primaryColor;
                        cursor: pointer;
                        box-shadow: 0 0 0 $primaryTransparent;
                        color: $white;
                        i {
                            position: relative;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 20px;
                            padding: 11px;
                        }
                    }
                    .subheading {
                        display: inline-block;
                        position: relative;
                        top: 4px;
                        left: 12px;
                        font-size: 17px;
                    }
                }
                &:hover .icon {
                    animation: pulse 2s infinite;
                }
            }
            .btn-wede {
                display: block;
                margin: 0 auto;
                position: relative;
                top: 120px;
                text-decoration: none;
            }
        }
    }
    .col-right-image {
        .img-fluid {
            display: block;
            margin: 0 auto;
        }
    }
}

@media (max-width: 1199px) {
    .rightRs, .leftRs {
        width: 65px !important;
        height: 65px !important;
        background-size: 75% !important;
    }
    .btn-wede {
        top: 60px !important;
    }
}

@media (max-width: 767px) {
    .rightRs, .leftRs {
        width: 45px !important;
        height: 45px !important;
        background-size: 75% !important;
    }
    .col-right-image {
        .img-fluid {
            margin-top: 35px !important;
        }
    }
    .col-icons {
        &:nth-child(2) {
            margin-top: 35px !important;
        }
    }
}

@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 $secondaryTransparent;
    }
    70% {
        -webkit-box-shadow: 0 0 0 50px $secondaryRgb;
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 $secondaryRgb;
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 $primaryTransparent;
      box-shadow: 0 0 0 0 rgba(3, 155, 229, .4);
    }
    70% {
        -moz-box-shadow: 0 0 0 50px $secondaryRgb;
        box-shadow: 0 0 0 50px $secondaryRgb;
    }
    100% {
        -moz-box-shadow: 0 0 0 0 $secondaryRgb;
        box-shadow: 0 0 0 0 $secondaryRgb;
    }
  }