<<<<<<< HEAD
<app-header></app-header>
<div class="container-fluid">
    <router-outlet (activate)="onActivate($event)" *ngIf="isPageLoaded"></router-outlet>
    <div class="loading" *ngIf="!isPageLoaded">
        <img class="loader" src="./../assets/img/preloader.gif" alt="">
    </div>
</div>
<app-footer></app-footer>
    
=======
<div class="container-fluid">
  <app-header></app-header>
</div>
<div class="container-fluid push-down">
  <router-outlet></router-outlet>
</div>
<div class="container-fluid">
  <app-footer></app-footer>
</div>
>>>>>>> 5f99a174d711205fb885ee98bdcaad383dcb1fad
