<<<<<<< HEAD
@import "./variables.scss";
@import "./buttons.scss";
@import "./mixins.scss";

.loading {
    min-height: 100vh;
    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
=======
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.push-down {
    margin-top: 101px;
>>>>>>> 5f99a174d711205fb885ee98bdcaad383dcb1fad
}