/* VARIABLES */
$primaryColor: #FFCA28;
$primaryTransparent: rgba(255, 202, 40, .7);
$primaryRgb: rgba(255, 202, 40, 0);
$secondaryColor: #039BE5;
$secondaryTransparent: rgba(3, 155, 229, .7);
$secondaryRgb: rgba(3, 155, 229, 0);
$thirdColor: #6687CF;
$fourthColor: #9CAFB7;
$white: #ffffff;
$greyDark: #595F72;//#383339;
$greyLight: #757575;
$greyLightest: #fbfbfb;
$marginBottomMd: 30px;
$paddingBottomSm: 30px;
$paddingBottomMd: 50px;
$paddingBottomLg: 80px;

/* Screen size definitions  */
/* Small tablets and large smartphones (landscape view) */
$screen-sm-max: 576px;

/* Small tablets (portrait view) */
$screen-md-max: 768px;

/* Tablets and small desktops */
$screen-lg-max: 992px;

/* Large tablets and desktops */
$screen-xl-min: 1200px;