@import "./../variables.scss";
@import "./../buttons.scss";
@import "./../mixins.scss";

.row-heading {
    background-image: url('./../../assets/img/heading-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 650px;
    margin-bottom: 110px;
    .title {
        .h2 {
            text-transform: uppercase;
            font-size: 40px;
            position: relative;
            padding-bottom: 40px;
            top: 50%;
            transform: translateY(-50%);
            color: #383339;
            &:after {
                content: "";
                display: inline-block;
                width: 70px;
                height: 10px;
                background: #d53585;
                position: absolute;
                left: 0;
                bottom: 0;
                left: 50%;
                margin-left: -35px;
            }
            .block-name {
                font-size: 12px;
                font-style: normal;
                display: block;
                color: #d53585;
                margin-bottom: 20px;
            }
        }
    }
}
.slider {
    .wBg /deep/ {
        .tile {
            padding: 20px;
        }
        .details {
            padding: 10px;
            h4 {
                padding-bottom: 7px;
            }
            h6 {
                padding-bottom: 7px;
            }
        }
    }
    padding-bottom: 100px;
    .slider-button {
        position: absolute;
    }
    .leftRs {
        top: 130px;
    }
    .rightRs {
        top: 130px;
        right: 0;
    }
}
.initials /deep/ {
    .avatar-container {
        margin: 0 auto;;
    }
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    left: -60px;
    bottom: 0;
    width: 75px;
    height: 75px;
    border: 0;
    border-radius: 999px;
    background-image: url('./../../assets/img/prev.png');
    background-repeat:no-repeat;
    background-size: 65%;
    background-position:center;
    background-color: rgba(0, 0, 0, .8);
    @include transition(background-color .5s, width .5s, height .5s);
    cursor: pointer;
    &:focus {
        outline: 0;
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: -60px !important;
    width: 75px;
    height: 75px;
    border-radius: 999px;
    border: 0;
    background-image: url('./../../assets/img/next.png');
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
    background-color: rgba(0, 0, 0, .8);
    @include transition(background-color .5s, width .5s, height .5s);
    cursor: pointer;
    &:focus {
        outline: 0;
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }
}

.star-icon:before {
    color: $primaryColor !important;
}

@media (max-width: 1199px) {
    .rightRs, .leftRs {
        width: 65px;
        height: 65px;
        background-size: 75%;
    }
}

@media (max-width: 767px) {
    .rightRs, .leftRs {
        width: 45px;
        height: 45px;
        background-size: 75%;
    }
    .leftRs {
        left: -30px;
    }
    .rightRs {
        right: -30px !important;
    }
}