@import "./../variables.scss";
@import "./../buttons.scss";
@import "./../mixins.scss";

.fixed-top {
  height: 105px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 150;
  @include transition(height .5s);
  .navbar-brand {
    position: relative;
    width: 200px;
    top: -6px;
    @include transition(width .5s);
    .img-fluid {
      width: 200px;
      @include transition(width .5s);
    }
  }
  .wrapper-menu {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    &:hover .line-menu {
      background-color: $secondaryColor;
    }
  }
  
  .wrapper-menu.open {
    transform: rotate(-45deg);
    z-index: 10; 
  }
  
  .line-menu {
    background-color: $white;
    border-radius: 5px;
    width: 100%;
    height: 6px;
    @include transition(background-color .5s);
  }
  
  .line-menu.half {
    width: 50%;
  }
  
  .line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
  }
  
  .open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
  }
  
  .line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
  }
  
  .open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
  }
  .collapse {
    background-color: $primaryColor;
    display: block;
    text-align: center;
    margin: 0 -16px;
    position: relative;
    top: -108px;
    .navbar-nav {
      font-weight: 300;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .nav-item {
        color: #ffffff;
        margin: 7px 0px;
        min-width: 400px;
        @include transition(background-color 0.6s);
        @include sm {
          min-width: 100%;
        }
        &:hover {
          @include transition(color 0.6s, background-color 0.6s);
          background-color: $secondaryColor;
          .nav-link {
            color: #ffffff;
          }
        }
        .nav-link {
          color: $greyDark;
          font-size: 17px;
          font-weight: 600;
          padding: 25px 60px;
          font-family: 'Poppins', sans-serif;
          font-weight: 400;
        }
      }
      .active {
        background-color: $secondaryColor;
        .nav-link {
          color: #ffffff;
        }
      }
    }
  } 
}
.nav-resized {
  height: 85px;
  .navbar-brand {
    width: 160px;
    .img-fluid {
      width: 160px;
    }
  }
}