<nav class="navbar fixed-top navbar-light bg-dark" resizeHeader>
  <a class="navbar-brand" routerLink="/home"><img class="img-fluid" src="../assets/img/logo-rebrand.png"></a>
  <div class="wrapper-menu navbar-toggler-right" (click)="toggleIsNavOpen()" [ngClass]="isHamburgerOpen ? 'open' : 'closed'">
    <div class="line-menu half start"></div>
    <div class="line-menu"></div>
    <div class="line-menu half end"></div>
  </div>
    
  <div [@isNavOpen]="isNavOpen" class="collapse navbar-collapse" id="navbarSupportedContent" appResizeNavbar>
    <ul class="navbar-nav ml-auto" (click)="toggleIsNavOpen()">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/home">HOME</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/about-us">ABOUT US</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/skills-services">SKILLS &amp; SERVICES</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/projects">PROJECTS</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/testimonials">TESTIMONIALS</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/contact-us">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>