@import '../../base/buttons';
@import '../../base/mixins';
@import '../../base/variables';

.title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 40px;
    color: #383339;
    em {
        font-size: 12px;
        font-style: normal;
        display: block;
        color: #d53585;
        margin-bottom: 20px;
    }
    &:after {
        content: "";
        display: inline-block;
        width: 70px;
        height: 10px;
        background: #d53585;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -35px;
    }
}

.skills-icons {
    .fa {
        border: 10px solid #f8f8f8;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        line-height: 115px;
        font-size: 40px;
        color: #d53585;
        margin-bottom: 32px;
        @include transition(border-color 1s);
        &:hover {
            border-color: #d53585;
        }
    }
    h4 {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        line-height: auto;
        margin: 0 0 5px;
        color: #383339;
        padding-bottom: 10px;
    }
    p {
        margin-bottom: 35px;
    }
}