<div class="row full-width">
    <div class="col-md-12 text-center">
        <h2 class="title"><em>services</em>what we do</h2>
    </div>
</div>
<div class="row text-center skills-icons full-width">
    <div class="col-sm-6 col-md-3">
        <i class="fa fa-magic" aria-hidden="true"></i>
        <h4>web design</h4>
        <p>Creating a beautiful design isn't just a creative job. It also means finding out what clients want</p>
    </div>
    <div class="col-sm-6 col-md-3">
        <i class="fa fa-television" aria-hidden="true"></i>
        <h4>ui/ux</h4>
        <p>This is where the magic happens. The UI and UX we deliver will make your customer fall in love with your website</p>
    </div>
    <div class="col-sm-6 col-md-3">
        <i class="fa fa-code" aria-hidden="true"></i>
        <h4>programming</h4>
        <p>Do you want your website to think by itself, to have it's own mind? We can make a beautiful mind for your website</p>
    </div>
    <div class="col-sm-6 col-md-3">
        <i class="fa fa-share-alt" aria-hidden="true"></i>
        <h4>social media</h4>
        <p>A good way to promote your website and business is social media</p>
    </div>
</div>