<div class="content-container" [ngsReveal]="{ reset: true }">
  <div class="content">
    <div class="content-overlay"></div>
    <img class="content-image img-fluid" src="{{ project.img.img1 }}" alt="{{ project.name }}">
    <div class="content-details fadeIn-bottom fadeIn-left">
      <h3 class="content-title">{{ project.name }}</h3>
      <a class="btn btn-outline-warning" 
        (click)="openDialog(); selectProject($event)">Inspect Element</a>
      <a class="btn btn-outline-warning" href="{{ project.url }}" target="_blank">View Live Site</a>
    </div>
  </div>
</div>