<div class="row margin-top-lg animated zoomIn">
  <div class="col-12 title text-center">
    <h2 class="h2"><em class="block-name">We think that you are headed in a wrong direction</em> Not Found a.k.a 404</h2>
  </div>
</div>
<div class="row justify-content-center animated zoomIn">
  <div class="col-12 text-center">
    <h3>The good news is we can show you some valid routes so you can continue surfing.</h3>
  </div>
</div>
<div class="row justify-content-center animated zoomIn routes">
  <div class="col-12 road-sign">
    <!-- <div class="road-inner-routes">
      <span class="link home"><a routerLink="/home">Home</a></span>
      <span class="link about"><a routerLink="/about-us">About</a></span>
      <span class="link services"><a routerLink="/services">Services</a></span>
      <span class="link projects"><a routerLink="/projects">Projects</a></span>
    </div> -->
  </div>
</div>