@import "./../../../variables.scss";
@import "./../../../buttons.scss";
@import "./../../../mixins.scss";

.content-container {
    padding-bottom: 30px;
    .content {
        position: relative;
        margin: auto;
        overflow: hidden;
        .content-details {
            h3 {
                color: $white;
                font-size: 1.2em;
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 0.15em;
            }
            p {
                color: $white;
                font-size: 0.8em;
            }
            .btn {
                border-color: $secondaryColor;
                background-color: transparent;
                border-radius: 0;
                cursor: pointer;
                color: $secondaryColor;
                &:hover {
                    background-color: $secondaryColor;
                    color: $white;
                }
            }
        }
        &:hover {
            .content-overlay {
                opacity: 1;
                border-radius: 100px;
            }
            .content-details {
                top: 50%;
                left: 50%;
                opacity: 1;
                h3 {
                    color: #fff;
                    margin-bottom: 0.5em;
                }
                p {
                    color: #fff;
                    font-size: 0.8em;
                }
            }
        }
        .content-overlay {
            background: rgba(0, 0, 0, 0.7);
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            @include shift(all, ease-in-out, 0.5s);
        }
        .content-image{
            width: 100%;
        }
        .content-details {
            position: absolute;
            text-align: center;
            padding-left: 1em;
            padding-right: 1em;
            width: 100%;
            top: 50%;
            left: 50%;
            opacity: 0;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-transition: all 0.5s ease-in-out 0s;
            -moz-transition: all 0.5s ease-in-out 0s;
            transition: all 0.5s ease-in-out 0s;
        }
        .fadeIn-bottom{
            top: 80%;
        }
          
        .fadeIn-top{
            top: 20%;
        }
          
        .fadeIn-left{
            left: 20%;
        }
          
        .fadeIn-right{
            left: 80%;
        }
    }
}