<<<<<<< HEAD
<div class="row row-heading">
  <div class="col-12 title text-center">
    <h2 class="h2"><em class="block-name">Testimonials</em> WHAT PEOPLE THINK ABOUT US</h2>
  </div>
</div>
<div class="row justify-content-center slider">
  <div class="col-sm-10 col-11 slider-wrapper">
    <ngx-carousel [inputs]="carouselTileOne" class="carousel" ngsReveal>
      <ngx-tile NgxCarouselItem *ngFor="let tile of carouselTileOneItems; let i = index;" class="tile-wrapper">
          <div class="wBg">
              <div class="tile tile-reveal">
                  <ngx-avatar class="initials" skypeId="{{ tile.skypeId }}" 
                  facebookId="{{ tile.fbId }}" 
                  twitterId="{{ tile.twitterId }}"
                  name="{{ tile.name }}" size="150"></ngx-avatar>
              </div>
              <div class="details">
                <h4 class="tile-reveal">{{ tile.name }}</h4>
                <h6 class="tile-reveal">{{ tile.company }}</h6>
                <span class="rating tile-reveal">
                  <rating [(ngModel)]="tile.rating"
                  [max]="5"
                  fullIcon="★"
                  [readonly]="true">
                  </rating>
                </span>
                <p class="tile-reveal">{{ tile.testimonial }}</p>
              </div>
          </div>
      </ngx-tile>
      <button NgxCarouselPrev class="slider-button leftRs"></button>
      <button NgxCarouselNext class="slider-button rightRs"></button>
  </ngx-carousel>
  </div>
</div>
<div class="row row-support">
  <div class="col-12 col-support text-center">
    <div class="support-wrapper" [ngsRevealSet]="{ reset: true }" [ngsInterval]="300" [ngsSelector]="'.support'">
      <h4 class="support-heading support">Already a client, or need help with an order? Contact Wede Tech Support.</h4>
      <span class="phone-email support">389 70 259 841 <i>OR </i><a routerLink="./../contact-us">CONTACT US</a></span>
    </div>
  </div>
</div>
=======
<h1>Testimonials page!</h1>
>>>>>>> 5f99a174d711205fb885ee98bdcaad383dcb1fad
