<<<<<<< HEAD
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,800');
@import "./app/variables.scss";
@import "./app/buttons.scss";
@import "./app/mixins.scss";

body {
    font-family: 'Poppins', sans-serif;
}

.hide-overflow {
    overflow: hidden;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #383339;
}
.load {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('./assets/img/preloader.gif') 50% 50% no-repeat;
}

.btn-wede {
    background-color: $primaryColor;
    color: $white;
    border-radius: 26px;
    padding: 15px 29px;
    @include transition(background-color .5s);
    &:hover {
		background-color: $secondaryColor;
		color: $white;
    }
}

/* Heading style for all routes */
.row-heading {
    background-image: url('./assets/img/heading-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
    @include transition(height .5s);
    .title {
        .h2 {
            text-transform: uppercase;
            font-size: 40px;
            position: relative;
            padding-bottom: 40px;
            top: 50%;
            transform: translateY(-50%);
            color: $greyDark;
            &:after {
                content: "";
                display: inline-block;
                width: 70px;
                height: 10px;
                background: $primaryColor;
                position: absolute;
                left: 0;
                bottom: 0;
                left: 50%;
                margin-left: -35px;
            }
            .block-name {
                font-size: 12px;
                font-style: normal;
                display: block;
                color: $primaryColor;
                margin-bottom: 20px;
            }
        }
    }
}
.row-heading-2 {
    background: rgba(102,135,207,1);
    background: -moz-linear-gradient(left, rgba(102,135,207,1) 0%, rgba(132,156,209,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(102,135,207,1)), color-stop(100%, rgba(132,156,209,1)));
    background: -webkit-linear-gradient(left, rgba(102,135,207,1) 0%, rgba(132,156,209,1) 100%);
    background: -o-linear-gradient(left, rgba(102,135,207,1) 0%, rgba(132,156,209,1) 100%);
    background: -ms-linear-gradient(left, rgba(102,135,207,1) 0%, rgba(132,156,209,1) 100%);
    background: linear-gradient(to right, rgba(102,135,207,1) 0%, rgba(132,156,209,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6687cf', endColorstr='#849cd1', GradientType=1 );
    height: 450px;
    @include transition(height .5s);
    .title {
        background: rgba(102,135,207,1);
        background: -moz-linear-gradient(left, rgba(102,135,207,1) 0%, rgba(132,156,209,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(102,135,207,1)), color-stop(100%, rgba(132,156,209,1)));
        background: -webkit-linear-gradient(left, rgba(102,135,207,1) 0%, rgba(132,156,209,1) 100%);
        background: -o-linear-gradient(left, rgba(102,135,207,1) 0%, rgba(132,156,209,1) 100%);
        background: -ms-linear-gradient(left, rgba(102,135,207,1) 0%, rgba(132,156,209,1) 100%);
        background: linear-gradient(to right, rgba(102,135,207,1) 0%, rgba(132,156,209,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6687cf', endColorstr='#849cd1', GradientType=1 );
        .h2 {
            text-transform: uppercase;
            font-size: 40px;
            position: relative;
            padding-bottom: 40px;
            top: 50%;
            transform: translateY(-50%);
            color: $primaryColor;
            &:after {
                content: "";
                display: inline-block;
                width: 70px;
                height: 10px;
                background: $white;
                position: absolute;
                left: 0;
                bottom: 0;
                left: 50%;
                margin-left: -35px;
            }
            .block-name {
                font-size: 12px;
                font-style: normal;
                display: block;
                color: $white;
                margin-bottom: 20px;
            }
        }
    }
}

.row-cta {
    min-height: 400px;
    background-image: url('./assets/img/home/cta-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .col-left-cta {
        .cta-wrapper {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            left: 50px;
            border-left: 10px solid $primaryColor;
            padding-left: 35px;
            max-width: 93%;
            .cta-heading {
                font-size: 55px;
                color: $white;
                .cta-main-heading {
                    font-size: 190%;
                }
                .dot {
                    color: $primaryColor;
                }
            }
        }
    }
    .col-right-cta {
        .cta-wrapper {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            left: 50px;
            max-width: 250px;
            .btn-wede {
                border-radius: 42px;
                padding: 30px 80px;
            }
        }
    }
}

.row-support {
    background: rgba(3,155,229,1);
    background: -moz-linear-gradient(left, rgba(3,155,229,1) 0%, rgba(59,193,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(3,155,229,1)), color-stop(100%, rgba(59,193,255,1)));
    background: -webkit-linear-gradient(left, rgba(3,155,229,1) 0%, rgba(59,193,255,1) 100%);
    background: -o-linear-gradient(left, rgba(3,155,229,1) 0%, rgba(59,193,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(3,155,229,1) 0%, rgba(59,193,255,1) 100%);
    background: linear-gradient(to right, rgba(3,155,229,1) 0%, rgba(59,193,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#039be5', endColorstr='#3bc1ff', GradientType=1 );
    padding-top: 110px;
    padding-bottom: 110px;
    .col-support {
        .support-wrapper {
            .support-heading {
                color: $white;
                padding-bottom: 25px;
            }
            .phone-email {
                font-size: 17px;
                color: $white;
                a {
                    color: $white;
                    text-decoration: none;
                    border-bottom: 1px dotted #000000;
                    @include transition(color .5s, border-color .5s);
                    &:hover {
                        color: $greyDark;
                        border-color: $primaryColor;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .row-heading {
        height: 520px;
    }
}

@media (max-width: 575px) {
    .row-heading {
        height: 460px;
    }
    .cta-heading {
        font-size: 35px !important;
        color: $white;
        .cta-main-heading {
            font-size: 190%;
        }
    }
=======
@import 'base/variables';
@import 'base/buttons';
@import 'base/mixins';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');

body {
    font-family: 'Josefin Sans', sans-serif;
}

.full-width {
    margin-left: 0;
    margin-right: 0;
>>>>>>> 5f99a174d711205fb885ee98bdcaad383dcb1fad
}