<div class="row projects-container" *ngIf="!loading">
  <app-project-item class="col-lg-3 col-md-4 col-sm-6 col-12" 
    *ngFor="let projectItem of projects; let i = index; let even = even; let odd = odd"  [ngClass]="{ 'odd': odd, 'even': even }"
    [project]="projectItem"
    (projectSelected)="projectIsSelected(projectItem)"></app-project-item>
</div>
<div class="row align-items-center" *ngIf="loading">
  <div class="col">
    <img class="img-fluid" src="./../../../assets/img/preloader.gif" alt="wede loading">
  </div>
</div>