<<<<<<< HEAD
<div class="row">
    <div class="col-12 carousel-wrapper">
        <ngx-carousel class="banner text-center" [inputs]="carouselBanner" (carouselLoad)="carouselBannerLoad()" ngsReveal>
            <ngx-item NgxCarouselItem *ngFor="let tile of carouselBannerItems; let i = index;">
                <div class="bannerStyle" [style.background]="'url(' + tile.imgPath + ')'">
                    <div class="overlay">
                        <div class="heading-wrapper">
                            <h1 class="text-uppercase">{{ tile.heading }}</h1>
                            <h4 class="text-uppercase">{{ tile.subheading }}</h4>
                        </div>
                    </div>
                </div>
            </ngx-item>
            <button NgxCarouselPrev class="leftRs"></button>
            <button NgxCarouselNext class="rightRs"></button>
        </ngx-carousel>
    </div>
</div>
<div class="row why-wede text-center">
    <div class="col-md-6 col-icon left-column">
        <div class="wrapper" [ngsRevealSet]="{ reset: true }" [ngsInterval]="300" [ngsSelector]="'.reveal'">
            <img class="img-fluid img-icon reveal" src="./../../assets/img/home/design.png" alt="wede tech">
            <h3 class="subtitle reveal">UI/UX Design</h3>
            <span class="icons-text reveal">When we design your software, we are doing it with the user in mind. 
                Our years of user experience design will not only make it look beautiful across 
                all devices but also get your customers to take action.</span>
        </div>
    </div>
    <div class="col-md-6 col-icon right-column">
        <div class="wrapper" [ngsRevealSet]="{ reset: true }" [ngsInterval]="300" [ngsSelector]="'.reveal-second'">
            <img class="img-fluid img-icon reveal-second" src="./../../assets/img/home/dev.png" alt="wede tech">
            <h3 class="subtitle reveal-second">Website Development</h3>
            <span class="icons-text reveal-second">A test driven development (TDD) process is fundamental to our work. 
                Combined with lean and agile management principles, we can ensure rapid, flexible 
                delivery with quality assurance (QA) built in from the outset.</span>
        </div>
    </div>
    <div class="col-md-6 col-icon left-column">
        <div class="wrapper" [ngsRevealSet]="{ reset: true }" [ngsInterval]="300" [ngsSelector]="'.reveal-third'">
            <img class="img-fluid img-icon reveal-third" src="./../../assets/img/home/responsive.png" alt="wede tech">
            <h3 class="subtitle reveal-third">Responsive design</h3>
            <span class="icons-text reveal-third">We will help you launch a fully responsive website, whether you need a fresh, 
                unique design or retrofit for an existing site. Our responsive web design agency has experience 
                in developing bespoke, striking websites in as little as three weeks.</span>
        </div>
    </div>
    <div class="col-md-6 col-icon right-column">
        <div class="wrapper" [ngsRevealSet]="{ reset: true }" [ngsInterval]="300" [ngsSelector]="'.reveal-fourth'">
            <img class="img-fluid img-icon reveal-fourth" src="./../../assets/img/home/api.png" alt="wede tech">
            <h3 class="subtitle reveal-fourth">API Integration</h3>
            <span class="icons-text reveal-fourth">APIs ensure a seamless communication between various applications. 
                    API integration is much more than just writing to the API. 
                    That’s just the tip of the iceberg. There’s much more beneath the surface.
            </span>
        </div>
    </div>
</div>
<div class="row row-technology">
    <div class="col-md-6 col-left-technology">
        <div class="row row-sub-heading" [ngsRevealSet]="{ reset: true }" [ngsInterval]="200" [ngsSelector]="'.rev-heading'">
            <div class="col-12 col-heading text-center">
                <h2 class="h2 rev-heading"><em class="block-name">Beautiful</em> cohesion</h2>
                <span class="text rev-heading">We design and develop web solutions for customers of all sizes, 
                    specializing in creating stylish, modern websites, web portfolios and e-commerce stores. 
                    We create a website that stands out.</span>
            </div>
        </div>
        <div class="row row-icons">
            <div class="col-lg-6 col-icons" [ngsReveal]="{ reset: true }">
                <div class="heading">
                    <span class="icon"><i class="fas fa-paint-brush"></i></span>
                    <h4 class="subheading text-uppercase">Design</h4>
                </div>
                <span class="text">Our approach to design takes inspiration from real people 
                    and has its ultimate goal in the clarification of purpose and meaning. 
                    By better understanding who we are designing for, 
                    we create experiences of real value.</span>
            </div>
            <div class="col-lg-6 col-icons" [ngsReveal]="{ reset: true }">
                <div class="heading">
                    <span class="icon"><i class="fas fa-rocket"></i></span>
                    <h4 class="subheading text-uppercase">Performance</h4>
                </div>
                <span class="text">There’s a direct connection between web load speed and sales conversions. 
                    Consider this metric: 1 in 4 visitors would abandon the website if it takes more than 4 seconds to load.</span>
            </div>
            <a class="btn btn-wede text-uppercase" [ngsReveal]="{ reset: true }" routerLink="/skills-services">Our services</a>
        </div>
    </div>
    <div class="col-md-6 col-right-image">
        <img src="./../../assets/img/home/iPad-Pro-Space-Silver.png" alt="wede tech ipad" class="img-fluid">
    </div>
</div>
<!-- call to action row -->
<div class="row row-cta">
    <div class="col-md-7 col-left-cta" [ngsReveal]="{ reset: true }">
        <div class="cta-wrapper">
            <h2 class="cta-heading text-uppercase">
                <span class="cta-main-heading">The code</span><br>
                is in our dna<span class="dot">.</span>
            </h2>
        </div>
    </div>
    <div class="col-md-5 col-right-cta" [ngsReveal]="{ reset: true }">
        <div class="cta-wrapper">
            <a routerLink="./../contact-us" class="btn btn-wede text-uppercase">Contact Us</a>
        </div>
    </div>
</div> <!-- end call to action row -->
=======
<h1>Home page!</h1>
>>>>>>> 5f99a174d711205fb885ee98bdcaad383dcb1fad
