<div class="hovereffect" [ngsReveal]="{ reset: true }">
  <img class="img-fluid" src="{{ member.img }}" alt="{{ member.name }}">
  <div class="overlay">
      <h2>{{ member.name }}</h2>
      <span class="info">{{ member.position }}</span>
      <p class="set1" *ngIf="!showText()">
        <a href="{{ member.linkedin }}" target="_blank">
            <i class="fa fa-linkedin"></i>
        </a>
        <a href="{{ member.facebook }}" target="_blank">
            <i class="fa fa-facebook"></i>
        </a>
    </p>
    <hr>
    <hr>
    <p class="set2" *ngIf="!showText()">
        <a href="{{ member.instagram }}" target="_blank">
            <i class="fa fa-instagram"></i>
        </a>
        <a href="{{ member.twitter }}" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>
    </p>
    <p class="set1 text" *ngIf="showText()">I don't like social media. I hang around in the park.</p>
  </div>
</div>